<mat-card class="example-card" style="width: 18rem;">
    <mat-card-header>
        <mat-card-title>{{selecteddata.productname}}</mat-card-title>
        <mat-card-subtitle>Avaliable {{selecteddata.productqty}}&nbsp;{{selecteddata.productunits}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="card-img-top" alt="{{selecteddata.productname}}" src="{{selecteddata.productimage}}">
    <!-- <img mat-card-image width="20" height="100" alt="{{selecteddata.productname}}" class="img-rounded" src="{{selecteddata.productimage}}"> -->
    <mat-card-content class="text-center"><br>
        <p><span style="color: red;">Rs:<span
                    style="color: green;"><b>{{selecteddata.productrate.$numberDecimal}}</b></span></span></p>
        <mat-label>Drag for required Quantity</mat-label>
        <mat-slider thumbLabel [(ngModel)]="ordervalue" [displayWith]="formatLabel" tickInterval="1" min="1"
            max="{{selecteddata.productqty}}">
        </mat-slider>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="closeDialog(selecteddata)">
            <mat-icon class="material-icons"> done_all</mat-icon>
            Add To Cart
        </button>
        <button mat-raised-button color="warn" (click)="cancel()">cancel</button>
    </mat-card-actions>
</mat-card>