<br>
<div class="container-fluid">
    <h1>Leading Info</h1>
    <div class="row">
        <article class="card fl-left">
            <section class="date">
                <time datetime="23th feb">
                    <span>{{total_user_length}}</span>
                </time>
            </section>
            <section class="card-cont">
                <small>total users </small>
                <h3>live in Users</h3>
                <div class="even-date">
                    <i class="fa fa-calendar"></i>
                    <time>
                        <span>users are currently </span>
                        <span>active</span>
                    </time>
                </div>
                <div class="even-info">
                    <i class="fa fa-map-marker"></i>
                    <p>
                        total number of users are currently, active
                        <!-- usersnexen square for people australia, sydney -->
                    </p>
                </div>
                <!-- <a href="#">tickets</a> -->
            </section>
        </article>
        <article class="card fl-left">
            <section class="date">
                <time datetime="23th feb">
                    <span>{{total_products_length}}</span>
                </time>
            </section>
            <section class="card-cont">
                <small>products</small>
                <h3>total products are avaliable</h3>
                <div class="even-date">
                    <i class="fa fa-calendar"></i>
                    <time>
                        <span>all products of nilla fruits</span>
                        <span>nilla fruits</span>
                    </time>
                </div>
                <div class="even-info">
                    <i class="fa fa-map-marker"></i>
                    <p>
                        total products are avaliable in nillafruits,salem
                    </p>
                </div>
            </section>
        </article>
    </div>
    <div class="row">
        <article class="card fl-left">
            <section class="date">
                <time datetime="23th feb">
                    <span>{{total_order_length}}</span>
                </time>
            </section>
            <section class="card-cont">
                <small>today orders</small>
                <h3>total order by today</h3>
                <div class="even-date">
                    <i class="fa fa-calendar"></i>
                    <time>
                        <span>ordered by users</span>
                        <span>total products by today</span>
                    </time>
                </div>
                <div class="even-info">
                    <i class="fa fa-map-marker"></i>
                    <p>
                        showing total order from cutomer of nillafruits
                    </p>
                </div>
            </section>
        </article>
        <article class="card fl-left">
            <section class="date">
                <time datetime="23th feb">
                    <span>{{this.total_units_length}}</span>
                </time>
            </section>
            <section class="card-cont">
                <small>Measures</small>
                <h3>total number of measures</h3>
                <div class="even-date">
                    <i class="fa fa-calendar"></i>
                    <time>
                        <span>total measure</span>
                        <span>units</span>
                    </time>
                </div>
                <div class="even-info">
                    <i class="fa fa-map-marker"></i>
                    <p>
                        total number of measure units in nillafruits
                    </p>
                </div>
            </section>
        </article>
        <article class="card fl-left">
            <section class="date">
                <time datetime="23th feb">
                    <span>{{0}}</span>
                </time>
            </section>
            <section class="card-cont">
                <small>No Active</small>
                <h3>No data in nillafruits</h3>
                <div class="even-date">
                    <i class="fa fa-calendar"></i>
                    <time>
                        <span>no active</span>
                        <span>units</span>
                    </time>
                </div>
                <div class="even-info">
                    <i class="fa fa-map-marker"></i>
                    <p>
                        no acitve user or measures or products
                    </p>
                </div>
            </section>
        </article>
    </div>
</div>