<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img src="../../assets/img/Logo_Png1.png" alt="Logo" style="width:80px;">
    </a>
    <a class="navbar-brand">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="adminhome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="adminuserinfo">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="adminproductinfo">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="adminmeasureinfo">Measure</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="adminsendoffermail">Offer Mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="admintodayorder">Today's Order</a>
            </li>
        </ul>

        <form class="my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()" type="button">Logout</button>
        </form>
    </div>
</nav>